
@font-face{
  font-family:"Avenir Next W05 Thin";
  src:url("../font/avenir/745bb133-46ca-494f-903d-cfa54346eeb6.eot?#iefix");
  src:url("../font/avenir/745bb133-46ca-494f-903d-cfa54346eeb6.eot?#iefix") format("eot"),
  url("../font/avenir/97b33212-73e3-4d73-9848-5e562aa4cee6.woff2") format("woff2"),
  url("../font/avenir/503e8637-3bba-4aa6-bb67-c6af30b96cba.woff") format("woff"),
  url("../font/avenir/4126079e-77d3-4d1d-a0b2-edfc52bb6162.ttf") format("truetype"),
  url("../font/avenir/d901799b-dca5-4c5f-b854-934f1977dc86.svg#d901799b-dca5-4c5f-b854-934f1977dc86") format("svg");
}
@font-face {
  font-family:"AvenirNextLTW02-Regular";
  src:url("../font/avenir/7a1b7ae7-5c29-481f-83ac-652e932c5509.eot?#iefix");
  src:url("../font/avenir/7a1b7ae7-5c29-481f-83ac-652e932c5509.eot?#iefix") format("eot"),
  url("../font/avenir/bb590848-4012-46d6-a8d5-48c9893a176b.woff2") format("woff2"),
  url("../font/avenir/3a42a252-67ff-4186-88cf-762f56719ca1.woff") format("woff"),
  url("../font/avenir/dbc39ae3-2636-4653-a23e-8938bce2cf51.ttf") format("truetype"),
  url("../font/avenir/8e46b6cb-85f2-4400-a9d8-7cbd8ed30dd8.svg#8e46b6cb-85f2-4400-a9d8-7cbd8ed30dd8") format("svg");
}
@font-face{
    font-family:"Avenir Next W05 Medium";
    src:url("../font/avenir/a7d3bd64-119b-40ad-985c-a50776f2ae49.eot?#iefix");
    src:url("../font/avenir/a7d3bd64-119b-40ad-985c-a50776f2ae49.eot?#iefix") format("eot"),
    url("../font/avenir/9851da0a-2481-4687-bbeb-ed4ab170dc38.woff2") format("woff2"),
    url("../font/avenir/cebce072-9561-4c6d-8c89-f0cefec63289.woff") format("woff"),
    url("../font/avenir/8d00a64e-2d77-46b1-8804-6012868d61c9.ttf") format("truetype"),
    url("../font/avenir/bd1a6360-2055-4426-b79c-125cc744940c.svg#bd1a6360-2055-4426-b79c-125cc744940c") format("svg");
}
@font-face{
    font-family:"Avenir Next W05 Demi";
    src:url("../font/avenir/ad075618-025f-46f7-810a-93c2052fe2cb.eot?#iefix");
    src:url("../font/avenir/ad075618-025f-46f7-810a-93c2052fe2cb.eot?#iefix") format("eot"),
    url("../font/avenir/e78b17bb-11fb-4860-8d66-4ee0d0c1e117.woff2") format("woff2"),
    url("../font/avenir/d4ffabb3-dd7c-472a-bdfb-6700383c6354.woff") format("woff"),
    url("../font/avenir/d4c776aa-fc5c-46da-abe5-5974fcbb1251.ttf") format("truetype"),
    url("../font/avenir/b0a54a47-369f-439a-a181-6598ef4ba52f.svg#b0a54a47-369f-439a-a181-6598ef4ba52f") format("svg");
  }
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

/* Document */

html {
  font-family: sans-serif; /* 1 */
  /*line-height: 1.15;*/ /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}

/* Sections */

/* Remove the margin in all browsers (opinionated) */

body {
  margin: 0;
}

/* Add the correct display in IE 9- */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/* Correct the font size and margin on `h1` elements within `section` and article` contexts in Chrome, Firefox, and Safari. */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content */

/* Add the correct display in IE 9-. 
1. Add the correct display in IE. */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/* Add the correct margin in IE 8. */

figure {
  margin: 1em 40px;
}

/*1. Add the correct box sizing in Firefox.
  2. Show the overflow in Edge and IE. */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/* 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers. */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics */

/* 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.*/

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/* Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated)*/

a:active,
a:hover {
  outline-width: 0;
}

/* 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.*/

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/* Prevent the duplicate application of `bolder` by the next rule in Safari 6.*/

b,
strong {
  font-weight: inherit;
}

/* Add the correct font weight in Chrome, Edge, and Safari.*/

b,
strong {
  font-weight: bolder;
}

/* 1. Correct the inheritance and scaling of font size in all browsers.
   2. Correct the odd `em` font sizing in all browsers.*/

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Add the correct font style in Android 4.3-. */

dfn {
  font-style: italic;
}

/* Add the correct background and color in IE 9- */

mark {
  background-color: #ff0;
  color: #000;
}

/* Add the correct font size in all browsers. */

small {
  font-size: 80%;
}

/* Prevent `sub` and `sup` elements from affecting the line height in
   all browsers. */

sub,
sup {
  font-size: 10px !important;
  line-height: 2px;
  position: relative;
  vertical-align: top;
}


/* Embedded content */

/* Add the correct display in IE 9- */

audio,
video {
  display: inline-block;
}

/* Add the correct display in iOS 4-7. */

audio:not([controls]) {
  display: none;
  height: 0;
}

/* Remove the border on images inside links in IE 10-.*/

img {
  border-style: none;
}

/* Hide the overflow in IE.*/

svg:not(:root) {
  overflow: hidden;
}
svg {

}

/* Forms */

/* 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.*/

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/* Show the overflow in IE.
  1. Show the overflow in Edge. */

button,
input { /* 1 */
  overflow: visible;
}

/* Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.*/

button,
select { /* 1 */
  text-transform: none;
}

/* 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.*/

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/* Remove the inner border and padding in Firefox.*/

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Restore the focus styles unset by the previous rule. */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/* Change the border, margin, and padding in all browsers (opinionated).*/

fieldset {
  /*border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;*/
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
*/

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/* Remove the default vertical scrollbar in IE.*/

textarea {
  overflow: auto;
  resize: none;
}

/* 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
*/

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/* Correct the cursor style of increment and decrement buttons in Chrome. */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.*/

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive */

/* Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.*/

details, /* 1 */
menu {
  display: block;
}

/* Add the correct display in all browsers */

summary {
  display: list-item;
}

/* Scripting */

/* Add the correct display in IE 9-*/

canvas {
  display: inline-block;
}

/* Add the correct display in IE.*/

template {
  display: none;
}

/* Hidden */

/* Add the correct display in IE 10-.*/

[hidden] {
  display: none;
}
span {
  display: inline-block;
}
::-ms-clear, ::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
  color:transparent;
}
iframe {
  border: 1px solid #eee;
  padding: 1em;
}


/* ============================== */
/* Common Code                    */
/*================================*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  /*-moz-osx-font-smoothing: grayscale;*/
  overflow-y: hidden;
}

body {
  font-family: 'Avenir Next W05 Medium','avenir-next',Helvetica,Arial,Verdana,"Geneva", sans-serif ;
  font-size: 13px;
  font-size: 0.8em;
  color: #fff;
  /*background: #A20000;*/
  background: #fff;
  max-width: 375px;
  max-height: 667px;
  float: none;
  margin:auto;
}
header, nav {
  background: #A20000;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
a:focus, *:focus {
  outline: none;
  /*outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;*/
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
  width: auto;
}
ul li {
  list-style: none;
}

/* ============================== */
/* Layout Code                    */
/*================================*/
.clearfix {
  clear:left;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
.container {
  width:100%;
  display: block;
  color: #222;
}
.table {
  display: table;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.table_cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.scrolling {
  overflow-y: auto;
}
div[class*="col_"] {
  float: left;
  position: relative;
  min-height: 1px;
}
.col_s_1_of_10 {
  width: 10%;
}
.col_s_2_of_10 {
  width: 20%;
}
.col_s_3_of_10 {
  width: 30%;
}
.col_s_4_of_10 {
  width: 40%;
}
.col_s_5_of_10 {
  width: 50%;
}
.col_s_6_of_10 {
  width: 60%;
}
.col_s_7_of_10 {
  width: 70%;
}
.col_s_8_of_10 {
  width: 80%;
}
.col_s_9_of_10 {
  width: 90%;
}
.col_s_10_of_10 {
  width: 100%;
}
.ws_100 {
  width: 100%;
}
.col_5 > div{
  width: 20%;
  display: block;
  float: left;
}
/* ============================== */
/* UI Code                        */
/*================================*/

.block {
  display: block;
}
.inline {
  display: inline-block;
}

.vt {
  vertical-align: top;
}
.vm {
  vertical-align: middle;
}
.vb {
  vertical-align: bottom;
}
.uppercase {
  text-transform: uppercase
}
/* Position Code*/
.p_absolute {
  position: absolute;
  z-index: 1;
}
.p_high_9 {
  z-index: 9;
}
.p_highest {
  z-index: 9999999;
}
.p_rt {
  right: 10px;
  top: 1px;
}
.p_relative, .floating {
  position: relative !important;
}
.p_fixed {
  position: fixed;
}
.pf_bottom {
  bottom: 27px;
  left:0;
  padding-top: 60px;
  position: absolute;
}
.p_bottom {
  background-color: white;
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 12%, rgba(255,255,255,0.9) 34%, rgba(255,255,255,0.96) 57%, #fff 73%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 12%, rgba(255,255,255,0.9) 34%, rgba(255,255,255,0.96) 57%, #fff 73%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 12%, rgba(255,255,255,0.9) 34%, rgba(255,255,255,0.96) 57%, #fff 73%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}
.fr {
  float: right !important;
}
.fl {
  float: left !important;
}
.fc {
  float: none !important;
  margin: auto;
}
.hide, .warning {
  display: none;
}
/* Text Code*/
.txl{
  text-align: left;
}
.txr {
  text-align: right;
}
.txc, .txcl, .txcr {
  text-align: center;
}

.t_bold{
  font-family: 'Avenir Next W05 Demi',sans-serif;
  font-weight: bold;
}
.t_thin {
  font-weight: normal;
  font-family: 'AvenirNextLTW02-Regular',sans-serif;
}
.t_mid {
  font-size: 90%;
}
.t_small {
  font-size: 80%;
}
.t_title {
  font-size: 120%;
}
.ls_4 {
  letter-spacing: 4px;
}
.lh_calender, .lh_dropdown, .lh_400 {
  line-height: 400%;
}
.lh_200 {
  line-height: 200%;
}
.lh_normal {
  line-height: auto !important;
}
/* Font & Text Color */
.t_white {
  color: #fff;
}
.t_black {
  color: #222;
}
.t_gray {
  color:#7C7C7C;
}
.t_red {
  color:#A20000;
}

/* Background Code*/
.bg_darkred {
  background: #550505;
}
.bg_white {
  background: #fff;
}
.bg_black {
  background: #222;
}
.bg_red {
  background: #A20000;
}
.bg_lightgray {
  background: #F4F4F4 !important;
}
.bg_gray {
  background: #aaa;
}
.bg_pink {
  background: #FF5F5F;
}
.bg_orange {
  background: #FF9F00;
}
/* Border Code*/
.bt_gray {
  border-top: 1px solid #ccc;
}
.bb_gray {
  border-bottom: 1px solid #ccc;
}
.br_gray {
  border-right: 1px solid #ccc;
}
.bb_black {
  border-bottom: 1px solid #222;
}
.bb2_black {
  border-bottom: 2px solid #222;
}
/* Space Code*/
.pt_0 {
  padding-top: 0 !important;
}
.pt_3 {
  padding-top: 3px;
}
.pl_5 {
  padding-left:5px;
}
.pr_5 {
  padding-right:5px;
}
.pt_5 {
  padding-top: 5px;
}
.pb_5 {
  padding-bottom: 5px;
}
.pa_10 {
  padding:10px;
}
.pl_10 {
  padding-left: 10px;
}
.pb_10 {
  padding-bottom: 10px;
}
.pr_10 {
  padding-right: 10px;
}
.pt_10 {
  padding-top: 10px;
}
.pt_15 {
  padding-top: 15px;
}
.pb_15 {
  padding-bottom: 15px;
}
.pr_15 {
  padding-right: 15px;
}
.pa_20 {
  padding:20px;
}
.pb_20 {
  padding-bottom: 20px;
}
.pl_20 {
  padding-left: 20px;
}
.pr_20 {
  padding-right: 20px;
}
.pt_20 {
  padding-top: 20px;
}
.pb_30 {
  padding-bottom: 30px;
}
.pt_40 {
  padding: 40px 0 0 0;
}
.ppt_10 {
  padding-top: 10%;
}
.ppt_30 {
  padding-top: 30%;
}

/* Shape Code*/
.round {
  border-radius: 50%;
}
/* ============================== */
/* Sign In Code                   */
/*================================*/
.signin_wrapper {
  padding-top: 49.5%;
}
.signin {
  margin-top: 50px;
  padding: 20px;
  text-align: center;
}
.signin input {
  background: #fff;
  color:#222;
  border-radius: 50px;
  height: 40px;
  margin-bottom: 15px;
  text-indent: 20px;
}
.signin input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
  font-size: inherit;
}
.signin input::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
  font-size: inherit;
}
.signin input:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
  font-size: inherit;
}
.signin input:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
  font-size: inherit;
}
/* ============================== */
/* Scan Code                      */
/*================================*/
.scan_wrapper {
  padding-top: 35%;
}
.scan {
  width: 146px;
  height: 146px;
  border: 1px solid rgba(255,255,255,0.2);
}
.scan_inside {
  width: 130px;
  height: 130px;
  border: 5px solid rgba(255,255,255,0.2);
  position: absolute;
  top: 7px;
  left: 7px;
}

.scan_text {
  text-align: center;
  top: 35%;
  font-size: 12px;
  font-weight: 600;
}

.scan_id_back {
  background: url("../img/license_back.png") no-repeat;
  background-size: contain;
  height: 100%;
}

.scan_id_front {
  background: url("../img/license_front.png") no-repeat;
  background-size: contain;
  height: 100%;
}
/* ============================== */
/* Button Code                    */
/*================================*/
button {
  width: 160px;
  height: 40px;
  text-align: center;
  font-size: 12px;
  letter-spacing: .4px;
  border-radius: 50px;
  border:0;
}
.button_space {
  width: 15px;
}

/* ============================== */
/* Process Nav Code               */
/*================================*/

nav.process {
  width: 100%;
  display: block;
  float: left;
  padding: 0 5px 15px 5px;
  position: relative;
}
.done:after {
  content: '';
  position: absolute;
  border-top: 2px solid #FF5F5F;
  width: 48px;
  left: 25px;
  top: 12px;
  z-index: 2;
}
nav.process:after {
  content: '';
  position: absolute;
  border-top: 2px solid #550505;
  width: 80%;
  left: 10%;
  top: 18%;
  z-index: 1;
}
nav .circle {
  width: 26px;
  height: 26px;
  background: #550505;
  color: #fff;
  border-radius: 50%;
  line-height: 220%;
  font-weight: 500;
  text-align: center;
  font-size: 12px;
  margin-bottom: 7px;
  z-index: 999;
  position: relative;
}
.circle.active {
  background: #FF5F5F;
}
.contents_cap {
  background: #fff;
  border-radius: 10px 10px 0 0;
  height: 20px;
}
.contents_cap.with_view {
  height: 10px !important;
}
.view_by select {
  border: 0 !important;
  background: transparent !important; 
  height: auto !important;
  width: auto !important;
  text-align: right;
}
.view_by option {
  text-align: right;
}

.view_by .form:after {
  content: '';
  position: absolute;
  background: url('../img/arrow_dropdown.svg') no-repeat right center;
  width: 12px;
  height: 7px;
  right: 0;
  top: 8px;
}
/* ============================== */
/* From Code                      */
/*================================*/
.form{
  padding: 0 20px;
}
.form > div {
  width: 100%;
}
.label {
  font-size: 10px;
  color:#7C7C7C;
}
.form_icon {
  position: absolute;
  right: 0;
  bottom: 10px;
}
.form_icon.left {
  right: 8px;
}
.col_2 > div {
  width: 50%;
  float: left;
}
.col_2 > div:nth-child(odd) {
  padding-right: 8px;
}
.col_2 > div:nth-child(even) {
  padding-left: 8px;
}



input-ms-expand {
  border:0;
  background-color: transparent;
}
.search input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #222;
  font-size: 15px;
}
.search input::-moz-placeholder { /* Firefox 19+ */
  color: #222;
  font-size: 15px;
}
.search input:-ms-input-placeholder { /* IE 10+ */
  color: #222;
  font-size: 15px;
}
.search input:-moz-placeholder { /* Firefox 18- */
  color: #222;
  font-size: 15px;
}

.red input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #A20000;
  font-size: inherit;
}
.red input::-moz-placeholder { /* Firefox 19+ */
  color: #A20000;
  font-size: inherit;
}
.red input:-ms-input-placeholder { /* IE 10+ */
  color: #A20000;
  font-size: inherit;
}
.red input:-moz-placeholder { /* Firefox 18- */
  color: #A20000;
  font-size: inherit;
}
input.question {
  background: url('../img/icon_red_question.svg') no-repeat left center;
  text-indent: 25px;
}
input,button,textarea,select {
  outline: 0;
  border:0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-expand: none;
  -o-expand: none;
  cursor: pointer;
  position: relative;
  
}
input,textarea,select {
  border-bottom: 1px solid #CCCCCC;
  color: #222;
  height: 40px;
  color: #A20000;
  width: 100%;
  background: #fff;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
.focus input, .focus select {
  border-bottom: 1px solid #A20000;
}
.focus .label {

}

.inactive .swipe {
 background: url('../img/swipe_inactive.svg') no-repeat left center;
 width: 51px;
 height: 32px;
}
.active .swipe {
  background: url('../img/swipe_active.svg') no-repeat left center;
  width: 51px;
  height: 32px;
}
.height {
  height:40px;
}

input[type="radio"] {
  background: url('../img/swipe_inactive.svg') no-repeat left center;
  width: 51px;
  height: 32px;
  border:0 !important;
}

input[type="radio"]:checked {
  background: url('../img/swipe_active.svg') no-repeat left center;
  width: 51px;
  height: 32px;
}

input[type="checkbox"] {
  border: 0 !important;
  width: 25px !important;
  height: 19px;
  background: url('../img/checkbox_inactive.svg') no-repeat left;
  vertical-align: middle;
}
input[type="checkbox"]:checked {
  background: url('../img/checkbox_active.svg') no-repeat left;
}
/* ============================== */
/* Calnedar Code                  */
/*================================*/
.calendar, .dropdown {
  position: absolute;
  border-top: 1px solid #ddd;
  width: 100%;
  color: #222;
  bottom: -355px;
  z-index: 99999;
  max-width: 375px;
  transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  visibility: hidden;
}
span[id^="icon_"] {
  cursor: pointer;
}

.icon_close img {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 999;
}
.calendar.open, .dropdown.open {
  bottom: 0px;
  visibility: visible;
}
.no_line select {
  background: transparent !important;
  border-bottom: 0 !important;
  color: #222;
}
.select_date {
  width: 25px;
  height: 25px;
  position: absolute;
  background: #A20000;
  border-radius: 50%;
  left: 12px;
  top: 8px;
  z-index: 1;
}
table {
  border: 0;
  border-collapse: collapse;
  table-layout: fixed;
}

/* ============================== */
/* Modal Popup Code               */
/*================================*/
.modal_bg {
  visibility: hidden;
  position: absolute;
  width:100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 9999;
  opacity: 0;
  transform: translate(0,0);
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transfor: translate(0,0);
  transition: all .25s ease-in-out;
  -webkit-trnsition: all .25s ease-in-out;
  -moz-trnsition: all .25s ease-in-out;
  -ms-trnsition: all .25s ease-in-out;
  -o-trnsition: all .25s ease-in-out;
}
.modal_bg.open, .modal_popup.open {
  visibility: visible;
  position: fixed;
  opacity: 1;
  transform: translateX(0%);
  transform: translate(0,0);
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transfor: translate(0,0);
  cursor: pointer;
}
.modal_popup {
  visibility: hidden;
  position: absolute;
  z-index: 999999;
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
}

.modal_popup > div > div {
  display: table;
  width: 100%;
  padding: 0 30px;
  position: relative;
}
.modal_popup > div, .modal_popup > div > div > div {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.modal_popup .scan_inside {
  border: 5px solid #FF9F00 !important;
}
.modal_popup .scan_inside img {
  margin-top: -5px;
}
.modal_popup .cta {
  display: table;
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.modal_popup .cta span {
  display: table-cell;
  vertical-align: middle;
  font-size: 85%;
}
.modal_popup .dot {
  position: absolute;
  z-index: 9999;
  top: 44%;
  right: -10px;
}
.modal_popup .dot.right {
  right: auto;
  left: -10px;
}
/* ============================== */
/* Global Menu Code               */
/*================================*/
.location {
  margin:5px 0 0 0;
  border-radius: 50px;
  padding: 15px 0 15px 18px;
  color: #222;
}
.left_slider_close {
  width: 15%;
  height: 50px;
  background: #A20000;
  position: fixed;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transition: all .25s ease-in-out;
  -webkit-trnsition: all .25s ease-in-out;
  -moz-trnsition: all .25s ease-in-out;
  -ms-trnsition: all .25s ease-in-out;
}
.left_slider_close.open {
  right: 0;
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  z-index: 999999;
}
.left_slider_close img {
  position: absolute;
  top: 30%;
  left: 35%;
}
.right_slider_close {
  top: 20px;
  right: -20px;
  position: fixed;
  z-index: 999999;
}
.open .right_slider_close {
  right: 20px;
}
.left_slider.open {
  overflow-x: hidden;
  position: fixed;
  opacity: 1;
  visibility: visible;
  z-index: 999999;
  overflow-y: auto;
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}
.left_slider{
  position: absolute;
  visibility: hidden;
  overflow-x: hidden;
  background: #fff;
  width: 85%;
  height: 100%;
  opacity: 0;
  padding-bottom: 50px;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transfor: translateX(-100%);
  transition: all .25s ease-in-out;
  -webkit-trnsition: all .25s ease-in-out;
  -moz-trnsition: all .25s ease-in-out;
  -ms-trnsition: all .25s ease-in-out;
}
.left_slider nav {
  background: #fff;
  color:#222;
  border-top: 1px solid #ccc;
  line-height: 300%;
}
.mega_menu > a{
  color: #fff;
  background:#222;
  text-transform: uppercase;
  padding: 5px 25px 5px 38px;
  display: inline-block;
  float: left;
  width: 100%;
  border-bottom:1px solid #fff;
}

.expand_p > a:after {
    content: "+";
    right: 0;
    float: right;
    font-weight: normal;
    font-size: 11px;
    font-family: "Verdana","Geneva", sans-serif;
}

.expand_p.active > a:after {
    content: "–";
}

.mega_sub {
  visibility: hidden;
  background: #fff;
  opacity: 0;
  width: 100%;
  max-height: 0;
  font-size: 90%;
  transition: all .25s ease-in-out;
  -webkit-trnsition: all .25s ease-in-out;
  -moz-trnsition: all .25s ease-in-out;
  -ms-trnsition: all .25s ease-in-out;
  -0-trnsition: all .25s ease-in-out;
}
.mega_sub.open {
  visibility: visible;
  opacity: 1;
  max-height: 1000px;
}
.mega_sub li {
  border-bottom: 1px solid #ccc;
  padding: 5px 20px 5px 38px;
}
.expand_c {
  overflow: hidden;
  max-height: 0;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.expand_c.open{
  max-height: 1000px;
  overflow: hidden;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.right_slider {
  width: 100%;
  position: fixed;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  height: 100%;
  padding-bottom: 2em;
  right: -100%;
  z-index: 999999;
  transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  -webkit-overflow-scrolling: touch;
}
.right_slider.open {
  opacity: 1;
  visibility: visible;
  z-index: 999999;
  right: 0;
  top:0;
  -webkit-box-shadow: -2px 0px 10px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: -2px 0px 10px 0px rgba(0,0,0,0.3);
  box-shadow: -2px 0px 10px 0px rgba(0,0,0,0.3);
  transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  -o-transform: translateX(0%);
}

/* ============================== */
/* Search Code                    */
/*================================*/
.search input {
  text-indent: 30px;
  height: 50px;
  background: url('../img/icon_search_red.svg') no-repeat 0 45%;
}
button.bigsize {
  width: 226px;
}

.search_category {
  width:100px;
  height: 60px;
  border-radius: 10px;
  border:1px solid #ccc;
  color: #222;
  text-align: center;
  font-size: 11px;
}
.search_category.active {
  border:1px solid #A20000;
  color: #A20000;
}
.search_category img.select {
  display: none;
}
.search .col_3 > div{
  width: 33.33%;
  float: left;
  display: inline-block;
  text-align: center;
}


/* ============================== */
/* CS Queue Code                  */
/*================================*/
.queue .selected:before {
  content: '';
  position: absolute;
  background: #A20000;
  width: 8px;
  height: 89px;
  top: 0;
  left:0;
}
.queue > div {
  height: 90px;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
}

.icon_new {
  color: #fff;
  font-size: 8px;
  width: 37px;
  height: 18px;
  background: #A20000;
  text-align: center;
  border-radius: 10px;
  line-height: 230%;
  vertical-align: top;
}
.acc_tag {
  border-radius: 5px;
  line-height: 200%;
  width: 70px;
  height: 20px;
  text-align: center;
  text-transform: capitalize;
  background: #fff;
  border:1px solid #222;
  margin-right: 5px;
  font-size: 10px;
}
.queue .cta {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 11px;
  clear: both;
  color: #fff;
}
.queue .cta > span {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}
.queue .cta > span > span {
  display: table-cell;
  vertical-align: middle;
  font-size: 10px;
}
.queue .cta:last-child {
  margin-left: 10px;
}

span[class^="outline_"] {
  width: 90px;
  height: 24px;
  border-radius: 50px;
  border:1px solid #ddd;
  font-size: 9px;
  line-height: 235%;
}
.outline_date {
  background: url('../img/icon_date.svg') no-repeat 10px center;
}
.outline_time {
  width: 82px !important;
  background: url('../img/icon_clock_gray.svg') no-repeat 10px center;
}
span[class^="outline_"] > span {
  padding-left: 25px;
}
.gotoback {
  padding-top: 3px;
}
.acc_type {
  padding: 3px 20px;
  border-radius: 5px;
  background: #fff;
  color:#222;
  font-size: 10px;
  display: inline-block;
  margin-top: 8px;
  position: relative;
}
.acc_type:before {
  content: '';
  position: absolute;
  top:-7px;
  left:43%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 7px 6px;
  border-color: transparent transparent #fff transparent;
}

/* ============================== */
/* POS Code                       */
/*================================*/
.pos .p_item {
  width: 60px;
  height: 60px;
  position: relative;
  text-align: center;
}
.pos .p_item img {
  width: 60px;
  border: 5px solid #fff;
}
.item_circle {
  border-radius: 50%;
  position: absolute;
  z-index: 999;
  top:0;
  left:0;
  width: 60px;
  height: 60px;
}
.indica_domi {
  border:2px solid #00a8e1;
}
.sativa {
  border: 2px solid #ffb819;
}
.other {
  border: 2px solid #A20000;
}
.qty {
  width: 22px;
  height: 22px;
  line-height: 230%;
  font-size: 10px;
  color: #fff;
  background: #FF9F00;
}
.price {
  width: 65px;
}
.original_p {
  font-size: 14px;
}
.summary {
  border-top: 2px solid #222;
  border-bottom: 2px solid #222;
  color:#222;
  line-height: 200%;
}
.summary table {
  width: 100%;
}
.discount {
  border-top:1px dashed #979797;
  border-bottom:1px dashed #979797;
  margin: 10px 0;
}
.discount td {
  padding: 10px 0;
  color:#A20000;
}
.total {
  margin-top: 10px;
}
.total td {
  border-top:1px solid #ddd;
  padding-top: 10px;
}
